.recipeDetail {
    @include flex();
    margin: 20px;


    img {
        flex: 1/2;
        width: 50%;
        height: 70vh;
    }

    .containerDetail {
        width: 50%;
        @include flex(column, nowrap, center, center);

        h2, h4, p, a {
            margin: 10px;
        }

        h2, span, a {
            color: $secondary;
        }

        p {
            width: 70%;
        }

        a {
            font-size: 20px;
            text-decoration: none;
        }
    }
}

.linkDetail {
    color: $secondary;
    text-decoration: none;
}
