.developers{
    @include flex($direction: wrap, $justify: space-around, $align: center);

    span {
        color: $letters;
        font-size: 20px;
    }
    ul{
        li{
            list-style: none;
            color: $secondary;

            a{
                text-decoration: none;
                color: $secondary;
            }
        }
    }
}