.custom-footer {
    left:0px;
    bottom:0;
    height:10vh;
    width: 100%;
    @include flex($justify: space-between, $align: center);
    background-color: $tertiary;

    li {
        list-style: none;
        padding: 10px;
    }

    h2 {
        font-size: 1.3rem;
        color: $primary;

        /* mediaQuery 640 */
        @include mediaQuery(640px) {
            font-size: 15px;
        }

        /* mediaQuery 485 */
        @include mediaQuery(485px) {
            @include footer();
        }

        /* mediaQuery 412px */
        @include mediaQuery(412px) {
            font-size: 13px;
        }

        /* mediaQuery 320 */
        @include mediaQuery(320px) {
            font-size: 13px;
        }
    }

}

.link-social ul{
    font-size: 2rem;
    @include flex($wrap: wrap, $justify: center);
    color: $primary;

    /* mediaQuery 640 */
    @include mediaQuery(640px) {
        @include flex($wrap: wrap);
        font-size: 18px
    }

    /* mediaQuery 485 */
    @include mediaQuery(485px) {
        @include footer();
        @include flex($wrap: nowrap)
    }

    /* mediaQuery 320 */
    @include mediaQuery(320px) {
        @include flex($wrap: wrap);
        font-size: 12px
    }
}

.list-link ul {
    font-size: 1.5rem;

    /* mediaQuery 640 */
    @include mediaQuery(640px) {
        font-size: 16px;
    }

    /* mediaQuery 485 */
    @include mediaQuery(485px) {
        @include footer();
    }

    /* mediaQuery 320 */
    @include mediaQuery(320px) {
        font-size: 13px;
    }
}

.link-custom {
    color: $primary;
    text-decoration: none;
}

.link-custom:active {
    color: $secondary;
}
