.container {
    @include flex($justify: center);
}

.card-random {

    margin: 1rem;
    background-color: $primary;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    overflow: hidden;

  h2{
    color: $letters;

    /* mediaQuery 412 */
    @include mediaQuery(412px) {
        font-size: 14px;
        margin: 5px;
    }

    /* mediaQuery 320 */
    @include mediaQuery(320px) {
      font-size: 14px;
      margin: 5px;
    }
  }

  img{
      border-radius: 0.5rem 0.5rem 0 0;
      width: 100%;
      object-fit: cover;
      height: max(15rem, 55vh);
      max-height: max(10rem, 60vh);

      /* mediaQuery 560 */
      @include mediaQuery(560px) {
        max-height: max(10rem, 40vh);
      }

      /* mediaQuery 320 */
      @include mediaQuery(320px) {
        height: 25vh;
        width: 100%;
      }
  }
}

.recipeRandomContainer {
    @include flex($direction: column, $justify: center);

    .recipeRandomHeader {
        @include flex($justify: space-between, $align: baseline);
        width: 100%;
        padding: 0.5em;
    
        .linkDetail {
            text-decoration: none;
            color: $secondary;
            font-size: 18px;

            /* mediaQuery 320 */
            @include mediaQuery(320px) {
                font-size: 14px;
            }
        }
    
    }
}
