.container {
    @include flex($justify: center);
}

.recipeRandomContainer {
    @include flex($direction: column, $justify: center);

    .recipeRandomHeader {
        @include flex($justify: space-between, $align: baseline);
        width: 100%;
        padding: 0.5em;
    
        .linkDetail {
            text-decoration: none;
            color: $secondary;
            font-size: 18px;
        }
    
    }
}
